


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;

}
.dark-2{
    color: #474747;
}
.btn-primary{
    border: none;
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    margin: 30px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-discraption{
    font-size: 18px;
    color: #CCCCCC;
}
/* header */
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
/* nav style= */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;

}
.nav-title{
    font-size: 45px;
    font-weight: bolder;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}


/* bannar style */
.bannar{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 230px;
}
.bannar-greetings{
    font-size: 45px;
    font-weight: 400;
}
.bannar-title{
    font-weight: bold;
    font-size: 85px;
}
.bannar-pic{
    width: 326px;
}
.bannar-content{
    max-width: 580px;
}
.bannar-discraption{
    font-weight: 400px;
    font-size: 18px;
}
/* main style  */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* about style */
.about{
    border-radius: 10px;
    padding: 130px 250px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-descraption{
    font-weight: bold;
}